<!--
no-stall-GICS — Christopher Liu, Ivan Mijacika, Shyne Choi, Gavin McGinley
SoftDev
P01 — no-stock-GICS
2022-01-04
-->

{% extends "base.html" %}

{% block content %}
<div class="container-xxl my-4 bd-layout">
  <h1>Register</h1>
  <form action="/register" method="POST" class="row g-3 needs-validation" novalidate>
    <div class="col-md-12">
      <label for="username" class="form-label">Username</label>
      {% if errors and "user_not_unique" in errors %}
      <input type="text" class="form-control is-invalid" id="username" name="username" required>
      <div class="invalid-feedback">
        Username already in use.
      </div>
      {% else %}
      <input type="text" class="form-control" id="username" name="username" required>
      <div class="invalid-feedback">
        Please enter a username.
      </div>
      {% endif %}
    </div>
    <div class="col-md-12">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" required>
      <div class="invalid-feedback">
        Please enter a password.
      </div>
    </div>
    <div class="col-md-12">
      <label for="password_check" class="form-label">Confirm Password</label>
      {% if errors and "pass_not_match" in errors %}
      <input type="password" class="form-control is-invalid" id="password_check" name="password_check" required>
      <div class="invalid-feedback">
        Passwords must match.
      </div>
      {% else %}
      <input type="password" class="form-control" id="password_check" name="password_check" required>
      <div class="invalid-feedback">
        Please confirm your password.
      </div>
      {% endif %}
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Register</button>
    </div>
  </form>
  <div class="my-4">
    <p>Already registered? Log in <a href="{{ url_for('index') }}">here</a>.</p>
  </div>
</div>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
  })()
</script>

{% endblock %}
