<!--
no-stall-GICS — Christopher Liu, Ivan Mijacika, Shyne Choi, Gavin McGinley
SoftDev
P01 — no-stock-GICS
2022-01-04
-->

{% extends "base.html" %}

{% block content %}
  <div class="container-xxl my-4 bd-layout">
    <div class="row">
      <div class="col-md-3">
        <h3> {{ ticker }} </h3>
        <h1> {{ name }} </h1>
      </div>
      <div class="col-md-5">
        <img src= {{ logo_url }} alt="logo">
      </div>
      <div class="col-md-4">
        <h4> Current Price: {{ current_price }} </h4>
        {% if recommendation == "BUY" %}
          <p class="text-success">BUY</p>
        {% else %}
          <p class="text-danger">SELL</p>
        {% endif %}
      </div>
  </div>

  <div class="container-xxl my-4 pt-3 bd-layout bg-white rounded" style="--bs-bg-opacity: .5;">
    <div class="row">
      <div class="col">
        <h4> Quick Info </h4>
        <p> {{ key_stats }} </p>  <!-- needs a template variable -->
      </div>
      <div class="col">
        <img src="https://media.ycharts.com/charts/838c39f014d415fa1f6426ce17767160.png" alt="chart">
      </div>
      <div class="col">
        <h4> Company Summary from Wikipedia: </h4>
        <p> {{ summary }} </p>
      </div>
    </div>
  </div>

{% endblock %}
